:root {
  --theme-page-bg-image-1024: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Chp6_Compendium 1k.png');
  --theme-page-bg-image-1921: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Chp6_Compendium 2k.png');
  --theme-page-bg-image-2561: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Chp6_Compendium 4k.png');
}

.underline-filigree::after {
  background-color: transparent !important;
}

.gazetteer-quote {
  --gazetteer-quote-image: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-mag-quote-attribution-red.png');
  --gazetteer-quote-color: var(--wheat-9-light-brown);
}

.fraif-level-flag {
  --fraif-deity-banner-image: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-level-banner-red.png');
}

.gazetteer-sidebar.aside--nine-slice {
  --ns-image: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-gazetteer-border-red.png');
  --ns-slice-top: 12;
  --ns-slice-right: 12;
  --ns-slice-bottom: 36;
  --ns-slice-left: 12;
  --ns-b-top: 12px;
  --ns-b-right: 12px;
  --ns-b-bottom: 36px;
  --ns-b-left: 12px;
}
.location-banner {
  --location-banner-shape-color: var(--baldurs-primary);
  --location-banner-secondary-color: var(--baldurs-secondary);
}
.location-banner::before {
  --location-filigree-left: var(--location-filigree-left-red);
  --location-filigree-right: var(--location-filigree-right-red);
}
