{
  "printWidth": 10000,
  "singleQuote": true,
  "overrides": [
    { "files": ["**/*.md", "**/*.mdx"], "options": { "proseWrap": "never" } },
    { "files": ["**/*.html"], "options": { "htmlWhitespaceSensitivity": "strict" } }
  ]
}