{
  "printWidth": 140,
  "singleQuote": true,
  "proseWrap": "never",
  "overrides": [
    { "files": ["**/*.html", "**/*.css", "**/*.scss"], "options": { "htmlWhitespaceSensitivity": "css" } }

  ]
}