.body-page .p-article-a .p-article-content h1 {
    font-size: 50px!important;
    font-weight: 400!important;
    color: darkred;
    text-align: center;
    margin: 0 0 16px !important;
    font-family: 'Tiamat Condensed SC Regular',Helvetica,sans-serif;
}