/* mobile styles */
@media (max-width: 767px) {
  .map-button {
    display: none;
  }
  .map-button-lower {
    display: none;
  }
  .fraif--map-column {
    display: none;
  }
  .fraif--columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.compendium-fraif {
  display: grid;
  grid-template-columns: 1fr, 200px;
}

.neutral-width {
  width: unset !important;
  white-space: nowrap;
}

.fraif--text--location-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  p:first-of-type {
    color: #9b1b1d;
    font-size: 18px;
    line-height: 24px;
    font-variant: small-caps;
  }
}

.fraif--text--location-building {
  text-align: right;
}

.fraif--text--location > hr {
  margin: 0.5em 0;
}

.fraif--text--location {
  float: right;
  background-color: #ded8b8;
  font-family: GoodOT, sans-serif;
  /* border-color: #204d4c; */
  border-width: 5px;
  /* max-width: 450px; */
  margin: 30px auto;
  padding: 18px 20px;
  filter: drop-shadow(0 3px 5px #ccc);
  p:first-of-type {
    color: unmount;
    font-size: unmount;
    + p {
      margin-top: 8px !important;
    }
  }
  &::after {
    all: unset;
  }
  &::before {
    content: '';
    background-image: url('https://media-stg.dndbeyond.com/compendium-images/fm/ui/sidebar-border.svg');
    background-position: 0, 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 15px;
    top: -6px;
    left: -7px;
    right: -7px;
  }
}
.text--rules-sidebar.fraif--trap::after,
.text--rules-sidebar.fraif--trap::before {
  content: unset;
}
.text--rules-sidebar.fraif--trap {
  background-color: none !important;
  font-family: GoodOT, sans-serif;
}

.text--rules-sidebar.fraif--trap p:first-of-type::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 4px;
}

.text--rules-sidebar.fraif--trap p:nth-of-type(2) {
  margin-top: 4px;
}

.fraif--columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 325px;
  gap: 16px;
  align-items: start;
}

.fraif--map-column {
  display: block;
  overflow: visible;
  align-self: start;
  height: 100%;
  position: relative;
}

.fraif--map-figure {
  position: sticky !important;
  max-width: 325px !important;
  top: 20px;
  border: 1px solid #cbc6c3;
  background-color: #fff;
}

.map-button {
  text-align: center;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease, color 0.2s ease;
  position: absolute;
  padding: 6px;
  background-color: white;
  border: 0.25px solid black;
  border-radius: 50%;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: black !important;
  font-family: 'ITC Benguiat Bold', serif;
  font-weight: bold;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: 30px;
  height: 30px;
}

.map-button-lower {
  text-align: center;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease, color 0.2s ease;
  position: absolute;
  padding: 6px;
  background-color: white;
  border: 0.25px solid black;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: black !important;
  font-family: 'ITC Benguiat Bold', serif;
  font-weight: bold;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: 28px;
  height: 28px;
}

.fraif--map-img-container {
  position: relative;
}

.map-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;
  z-index: 20;
  font-style: unset;
}

.map-button-lower:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;
  z-index: 20;
  font-style: unset;
}

.map--image {
  position: relative;
}

#Chp711 {
  left: 46.1%;
  top: 83.06%;
}
#Chp712 {
  left: 51.47%;
  top: 66.55%;
}
#Chp713 {
  left: 67.33%;
  top: 69.12%;
}
#Chp714 {
  left: 63.84%;
  top: 58.15%;
}
#Chp715 {
  left: 72.75%;
  top: 47.58%;
}
#Chp716 {
  left: 72.73%;
  top: 14.45%;
}
#Chp717 {
  left: 60.31%;
  top: 11.55%;
}
#Chp718 {
  left: 52.25%;
  top: 37.73%;
}

#Chp7210 {
  left: 56.73%;
  top: 14.21%;
}
#Chp7211 {
  left: 62.98%;
  top: 24.15%;
}
#Chp7212 {
  left: 42.65%;
  top: 18.91%;
}
#Chp7213 {
  left: 38.94%;
  top: 30.76%;
}
#Chp7214 {
  left: 38.92%;
  top: 39.06%;
}
#Chp7215 {
  left: 46%;
  top: 28.06%;
}
#Chp7216 {
  left: 44.29%;
  top: 55.55%;
}
#Chp7217 {
  left: 51.45%;
  top: 69.42%;
}
#Chp7218 {
  left: 57.67%;
  top: 67.97%;
}
#Chp7219 {
  left: 67.41%;
  top: 39.06%;
}
#Chp728 {
  left: 54.1%;
  top: 40.39%;
}
#Chp729 {
  left: 51.33%;
  top: 22.39%;
}
