:root {
  --theme-page-bg-image-base: url(https://www.dndbeyond.com/attachments/0/84/background_texture.png);
  --theme-page-bg-image-1024: url();
  --theme-page-bg-image-1921: url();
  --theme-page-bg-image-2561: url();
  --theme-table-row-bg-hover: rgb(179.2105263158, 211.4210526316, 222.7894736842);
  --theme-table-row-bg-dark: #d7e8ee;
  --theme-table-row-bg-light: rgb(240.0526315789, 246.4052631579, 248.6473684211);
  --compendium-rules-sidebar-color: rgb(232.8947368421, 242.2894736842, 245.6052631579);
  --compendium-quote-box-color: rgb(248.7514423077, 230.3105769231, 229.5485576923);
  --compendium-quote-box-border: rgb(59.0526315789, 118.1052631579, 138.9473684211);
  --compendium-quote-box-corner: rgb(59.0526315789, 118.1052631579, 138.9473684211);
  --header-underline: #a72e29;
  --sidebar-active-border: #a72e29;
  --sidebar-hover-border: rgb(126.0528846154, 34.7211538462, 30.9471153846);
  --sidebar-active-bg: #d7e8ee;
  --sidebar-hover-bg: rgb(186.3684210526, 215.5368421053, 225.8315789474);
  --nav-active-text: #3c3c3c;
  --nav-hover-text: #1d1d1d;
  --nav-comp-icon: url("https://media.dndbeyond.com/compendium-images/components/red-comp-icon.svg");
  --nav-prev-icon: url("https://media.dndbeyond.com/compendium-images/components/red-chevron-left.svg");
  --nav-next-icon: url("https://media.dndbeyond.com/compendium-images/components/red-chevron-right.svg");
  --nav-to-top-bg: #a72e29;
  --nav-to-top-hover-bg: rgb(126.0528846154, 34.7211538462, 30.9471153846);
  --theme-image-caption-link-bg-color: #a72e29;
  --theme-image-caption-link-hover-color: rgb(126.0528846154, 34.7211538462, 30.9471153846);
  --compendium-button-bg: #a72e29;
  --compendium-button-hover-bg: rgb(126.0528846154, 34.7211538462, 30.9471153846);
  --compendium-link-contrast: #024687;
  --compendium-default-tooltip: #11884C;
  --compendium-rule-tooltip: #9B740B;
  --compendium-item-tooltip: #774521;
  --compendium-condition-tooltip: #5a8100;
  --compendium-sense-tooltip: #A41B96;
  --compendium-link-color: #006ABE;
}

.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-action {
  background-color: var(--compendium-action-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-condition {
  background-color: var(--compendium-condition-tooltip, var(--compendium-default-tooltip, #5a8100));
  border-color: rgb(161.1627906977, 231, 0);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-sense {
  background-color: var(--compendium-sense-tooltip, var(--compendium-default-tooltip, #A41B96));
  border-color: rgb(224.3246073298, 68.6753926702, 208.4188481675);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-skill {
  background-color: var(--compendium-skill-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-wprop {
  background-color: var(--compendium-wprop-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-gear, .waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-armor, .waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-weapon {
  background-color: var(--compendium-item-tooltip, var(--compendium-default-tooltip, #774521));
  border-color: rgb(198.8552631579, 115.3026315789, 55.1447368421);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-rule {
  background-color: var(--compendium-rule-tooltip, var(--compendium-default-tooltip, #9B740B));
  border-color: rgb(238.9638554217, 182.1084337349, 29.0361445783);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-monster {
  background-color: var(--compendium-monster-tooltip, #bc0f0f);
  border-color: rgb(239.8522167488, 65.1477832512, 65.1477832512);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-magic-item {
  background-color: var(--compendium-magic-item-tooltip, #0f5cbc);
  border-color: rgb(65.1477832512, 142.9064039409, 239.8522167488);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-spell {
  background-color: var(--compendium-spell-tooltip, #704cd9);
  border-color: rgb(179.2165898618, 160.1382488479, 234.8617511521);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-vehicle {
  background-color: var(--compendium-vehicle-tooltip, #1b9af0);
  border-color: rgb(122.7037037037, 196.3950617284, 246.2962962963);
}

:is(.text--rules-sidebar, .table-compendium) {
  --compendium-default-tooltip: #056736;
  --compendium-rule-tooltip: #836000;
  --compendium-spell-tooltip: #5a35c5;
  --compendium-magicitem-tooltip: #054ea9;
  --compendium-monster-tooltip: #A70000;
  --compendium-condition-tooltip: #466501;
}

strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong),
li::marker {
  color: #a72e29;
}

.monster--stat-block {
  --stat-block-divider: #a72e29;
  --stat-block-bg-override: rgb(240.0526315789, 246.4052631579, 248.6473684211);
  font-family: "Open Sans";
}
.monster--stat-block .monster--stats p:nth-child(odd) {
  color: #a72e29;
}
.monster--stat-block .monster--action-header {
  font-family: "Open Sans";
  color: #a72e29;
}
.monster--stat-block::before, .monster--stat-block::after {
  --stat-block-scrollbar: none;
  background-color: #a72e29;
  left: -4px;
  right: -4px;
  border-radius: 8px;
  height: 8px;
}

@font-face {
  font-family: "Coyote Blackletter";
  src: url("https://fonts.dndbeyond.com/CoyoteBlackletterRegular-930861146.otf");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Coyote Blackletter", serif;
}

h2 {
  font-family: "Coyote Blackletter", serif;
}

.strahd-s {
  font-feature-settings: "0053" 1;
}

.strahd-tr {
  font-variant-ligatures: none;
}

.strahd-a {
  font-variant-ligatures: no-contextual;
}

.strahd-d {
  font-variant-ligatures: no-contextual;
}

.strahd-n {
  font-feature-settings: "006E" 1;
  font-variant-ligatures: normal;
}

.strahd-z {
  font-variant-ligatures: no-contextual;
}/*# sourceMappingURL=rthw.css.map */