:root {
  --theme-page-bg-image-base: url(https://www.dndbeyond.com/attachments/0/84/background_texture.png);
  --theme-page-bg-image-1024: url();
  --theme-page-bg-image-1921: url();
  --theme-page-bg-image-2561: url();
  --theme-table-row-bg-hover: rgb(179.2105263158, 211.4210526316, 222.7894736842);
  --theme-table-row-bg-dark: #d7e8ee;
  --theme-table-row-bg-light: rgb(240.0526315789, 246.4052631579, 248.6473684211);
  --compendium-rules-sidebar-color: rgb(232.8947368421, 242.2894736842, 245.6052631579);
  --compendium-quote-box-color: rgb(234.98, 125.78, 120.32);
  --compendium-quote-box-border: rgb(59.0526315789, 118.1052631579, 138.9473684211);
  --compendium-quote-box-corner: rgb(59.0526315789, 118.1052631579, 138.9473684211);
  --header-underline: #4A0E0B;
  --sidebar-active-border: #4A0E0B;
  --sidebar-hover-border: rgb(29.6, 5.6, 4.4);
  --sidebar-active-bg: #d7e8ee;
  --sidebar-hover-bg: rgb(186.3684210526, 215.5368421053, 225.8315789474);
  --nav-active-text: #3c3c3c;
  --nav-hover-text: #1d1d1d;
  --nav-comp-icon: url("https://media.dndbeyond.com/compendium-images/components/red-comp-icon.svg");
  --nav-prev-icon: url("https://media.dndbeyond.com/compendium-images/components/red-chevron-left.svg");
  --nav-next-icon: url("https://media.dndbeyond.com/compendium-images/components/red-chevron-right.svg");
  --nav-to-top-bg: #4A0E0B;
  --nav-to-top-hover-bg: rgb(29.6, 5.6, 4.4);
  --theme-image-caption-link-bg-color: #4A0E0B;
  --theme-image-caption-link-hover-color: rgb(29.6, 5.6, 4.4);
  --compendium-button-bg: #4A0E0B;
  --compendium-button-hover-bg: rgb(29.6, 5.6, 4.4);
  --compendium-link-contrast: #024687;
  --compendium-default-tooltip: #11884C;
  --compendium-rule-tooltip: #9B740B;
  --compendium-item-tooltip: #774521;
  --compendium-condition-tooltip: #5a8100;
  --compendium-sense-tooltip: #A41B96;
  --compendium-link-color: #006ABE;
}

.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-action {
  background-color: var(--compendium-action-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-condition {
  background-color: var(--compendium-condition-tooltip, var(--compendium-default-tooltip, #5a8100));
  border-color: rgb(161.1627906977, 231, 0);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-sense {
  background-color: var(--compendium-sense-tooltip, var(--compendium-default-tooltip, #A41B96));
  border-color: rgb(224.3246073298, 68.6753926702, 208.4188481675);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-skill {
  background-color: var(--compendium-skill-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-wprop {
  background-color: var(--compendium-wprop-tooltip, var(--compendium-default-tooltip, #11884C));
  border-color: rgb(28.3333333333, 226.6666666667, 126.6666666667);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-gear, .waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-armor, .waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-weapon {
  background-color: var(--compendium-item-tooltip, var(--compendium-default-tooltip, #774521));
  border-color: rgb(198.8552631579, 115.3026315789, 55.1447368421);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-rule {
  background-color: var(--compendium-rule-tooltip, var(--compendium-default-tooltip, #9B740B));
  border-color: rgb(238.9638554217, 182.1084337349, 29.0361445783);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-monster {
  background-color: var(--compendium-monster-tooltip, #bc0f0f);
  border-color: rgb(239.8522167488, 65.1477832512, 65.1477832512);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-magic-item {
  background-color: var(--compendium-magic-item-tooltip, #0f5cbc);
  border-color: rgb(65.1477832512, 142.9064039409, 239.8522167488);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-spell {
  background-color: var(--compendium-spell-tooltip, #704cd9);
  border-color: rgb(179.2165898618, 160.1382488479, 234.8617511521);
}
.waterdeep-tooltip .tooltip-header-identifier.tooltip-header-identifier-vehicle {
  background-color: var(--compendium-vehicle-tooltip, #1b9af0);
  border-color: rgb(122.7037037037, 196.3950617284, 246.2962962963);
}

:is(.text--rules-sidebar, .table-compendium) {
  --compendium-default-tooltip: #056736;
  --compendium-rule-tooltip: #836000;
  --compendium-spell-tooltip: #5a35c5;
  --compendium-magicitem-tooltip: #054ea9;
  --compendium-monster-tooltip: #A70000;
  --compendium-condition-tooltip: #466501;
}

strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong),
li::marker {
  color: #4A0E0B;
}

.monster--stat-block {
  --stat-block-divider: #4A0E0B;
  --stat-block-bg-override: rgb(240.0526315789, 246.4052631579, 248.6473684211);
  font-family: "Open Sans";
  /*&::after {
      transform: scaleY(-1);
  }*/
  /*.flexible-double-column & {
      --stat-block-scrollbar: url("https://media-stg.dndbeyond.com/compendium-images/slug/ui/file-name.png");
  }
  @media (max-width: 760px) {
      --stat-block-scrollbar: url("https://media-stg.dndbeyond.com/compendium-images/slug/ui/file-name.png");
  }*/
}
.monster--stat-block .monster--stats p:nth-child(odd) {
  color: #4A0E0B;
}
.monster--stat-block .monster--action-header {
  font-family: "Open Sans";
  color: #4A0E0B;
}
.monster--stat-block::before, .monster--stat-block::after {
  --stat-block-scrollbar: none;
  background-color: #4A0E0B;
  left: -4px;
  right: -4px;
  border-radius: 8px;
  height: 8px;
}

/*.text--rules-sidebar {
    border-color: #204d4c;
    border-width: 5px;
    max-width: 600px;
    margin: 30px auto;
    padding: 18px 20px;
    filter: drop-shadow(0 3px 5px #ccc);
    p:first-of-type {
        color: #204d4c;
        font-size: 20px;
        + p {
            margin-top: 8px !important;
        }
    }
    &::after {
        all: unset;
    }
    &::before {
        content: "";
        background-image: url("https://media-stg.dndbeyond.com/compendium-images/fm/ui/sidebar-border.svg");
        background-position: 0, 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 15px;
        top: -6px;
        left: -7px;
        right: -7px;
    }
}*/
/*.text--quote-box{
    //add custom quote box style here
}*/
@font-face {
  font-family: "Mrs Eaves All Small Caps OT";
  src: url("https://fonts.dndbeyond.com/MrsEavesAllSmallCapsOT-a6a50f89-41ae-4f40-bfda-b0fc6f8744b0.otf_v.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mrs Eaves OT";
  src: url("https://fonts.dndbeyond.com/MrsEavesOT-Bold-4d0707e4-2a3b-4e57-a6fa-a74c7c4eb352.otf_v.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Wolpe Pegasus";
  src: url("https://fonts.dndbeyond.com/WolpePegasusRegular-5521351.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Wolpe Pegasus";
  src: url("https://fonts.dndbeyond.com/WolpePegasusBold-5521342.otf");
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-family: "Wolpe Pegasus", serif !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: normal;
  background: linear-gradient(0, #ff7a18, #4A0E0B 70%, #319197);
  -webkit-background-clip: text; /* needed for Safari/Chrome */
  background-clip: text;
  color: transparent !important; /* most browsers */
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke: 0.65px #C9D3CA;
  text-align: center;
  --h1-underline: transparent;
}
@supports (-webkit-text-stroke: 1px black) {
  h1 .title {
    -webkit-text-stroke: 2px #C9D3CA;
  }
}

h2 {
  font-family: "Mrs Eaves All Small Caps OT", sans-serif;
  font-weight: 400;
  font-style: bold;
  color: #4A0E0B !important;
  font-size: 2rem !important;
  line-height: 2.1rem;
  text-align: left;
  --h2-underline: #C3B272;
}

h3 {
  font-family: "Mrs Eaves All Small Caps OT", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem !important;
  color: #4A0E0B !important;
  line-height: 1.45rem;
  text-align: left;
  --h3-underline: #C3B272;
}

h4 {
  font-family: "Mrs Eaves Small Caps OT", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
  line-height: 0.8rem;
  color: #4A0E0B !important;
  text-align: left;
}/*# sourceMappingURL=TestCss.css.map */