@use "../../../Styles/mixins.scss";
@import '../../../Styles/vars.scss';

$slug-primarycolor: #a72e29;
$slug-secondarycolor: #d7e8ee;

:root {
    --theme-page-bg-image-base: url(https://www.dndbeyond.com/attachments/0/84/background_texture.png);
    --theme-page-bg-image-1024: url();
    --theme-page-bg-image-1921: url();
    --theme-page-bg-image-2561: url();
    --theme-table-row-bg-hover: #{darken($slug-secondarycolor, 10%)};
    --theme-table-row-bg-dark: #{$slug-secondarycolor};
    --theme-table-row-bg-light: #{lighten($slug-secondarycolor, 7%)};
    --compendium-rules-sidebar-color: #{lighten($slug-secondarycolor, 5%)};
    --compendium-quote-box-color: #{lighten($slug-primarycolor, 53%)};
    --compendium-quote-box-border: #{darken($slug-secondarycolor, 50%)};
    --compendium-quote-box-corner: #{darken($slug-secondarycolor, 50%)};
    --header-underline: #{$slug-primarycolor};
    --sidebar-active-border: #{$slug-primarycolor};
    --sidebar-hover-border: #{darken($slug-primarycolor, 10%)};
    --sidebar-active-bg: #{$slug-secondarycolor};
    --sidebar-hover-bg: #{darken($slug-secondarycolor, 8%)};
    --nav-active-text: #3c3c3c;
    --nav-hover-text: #1d1d1d;
    @include mixins.nav-red;
    --nav-to-top-bg: #{$slug-primarycolor};
    --nav-to-top-hover-bg: #{darken($slug-primarycolor, 10%)};
    --theme-image-caption-link-bg-color: #{$slug-primarycolor};
    --theme-image-caption-link-hover-color: #{darken($slug-primarycolor, 10%)};
    --compendium-button-bg: #{$slug-primarycolor};
    --compendium-button-hover-bg: #{darken($slug-primarycolor, 10%)};
    --compendium-link-contrast: #024687;
    @include mixins.new-tooltips;
}

@include mixins.hover-tooltips;

#{$for-contrast} {
    --compendium-default-tooltip: #056736;
    --compendium-rule-tooltip: #836000;
    --compendium-spell-tooltip: #5a35c5;
    --compendium-magicitem-tooltip: #054ea9;
    --compendium-monster-tooltip: #A70000;
    --compendium-condition-tooltip: #466501;
}

strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong),
li::marker {
    color: #{$slug-primarycolor};
}

.monster--stat-block {
    --stat-block-divider: #{$slug-primarycolor};
    --stat-block-bg-override: #{lighten($slug-secondarycolor, 7%)};
    //--stat-block-header-size: 18px;
    font-family: "Open Sans";

    .monster--stats p:nth-child(odd) {
        color: #{$slug-primarycolor};
    }

    .monster--action-header {
        font-family: "Open Sans";
        color: #{$slug-primarycolor};
    }

    &::before,
    &::after {
        //--stat-block-scrollbar: url("#{$media-stg}/slug/ui/file-name.png");
        --stat-block-scrollbar: none;
        background-color: #{$slug-primarycolor};
        left: -4px;
        right: -4px;
        border-radius: 8px;
        height: 8px;
    }

    /*&::after {
        transform: scaleY(-1);
    }*/
    /*.flexible-double-column & {
        --stat-block-scrollbar: url("#{$media-stg}/slug/ui/file-name.png");
    }
    @media (max-width: 760px) {
        --stat-block-scrollbar: url("#{$media-stg}/slug/ui/file-name.png");
    }*/
}

/*.text--rules-sidebar {
    border-color: #204d4c;
    border-width: 5px;
    max-width: 600px;
    margin: 30px auto;
    padding: 18px 20px;
    filter: drop-shadow(0 3px 5px #ccc);
    p:first-of-type {
        color: #204d4c;
        font-size: 20px;
        + p {
            margin-top: 8px !important;
        }
    }
    &::after {
        all: unset;
    }
    &::before {
        content: "";
        background-image: url("https://media-stg.dndbeyond.com/compendium-images/fm/ui/sidebar-border.svg");
        background-position: 0, 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 15px;
        top: -6px;
        left: -7px;
        right: -7px;
    }
}*/

/*.text--quote-box{
    //add custom quote box style here
}*/

//Add additional custom styles here
/* Hyperspace Race — Compressed (Regular) */
@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressed.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Hyperspace Race — Compressed Bold */
@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedBold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Hyperspace Race — Compressed Heavy */
@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedHeavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Hyperspace Race — Condensed Heavy */
@font-face {
    font-family: 'Hyperspace Race Condensed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCondensedHeavy.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


.efota-title {
    position: relative;
    width: 100%;
    aspect-ratio: 300 / 102;
    z-index: 2;
    color: white !important;

}

.efota-title::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./assets/ui/0_DnD_EFA_Chapter_Header_CH1.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: -1;
}

.efota-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./assets/ui/DnD_ClassSymbol-Artificer.svg"), url("./assets/ui/bg-polygon.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 15% 15%, 106% auto;
    background-position: 98% 67%, 100% 230%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: 0;

}

.efota-title-text {
    position: absolute;
    bottom: 34%;
    left: 21.5%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 72%;
    white-space: nowrap;
    align-items: flex-end;
    z-index: 5;
    transform: rotate(-5deg);
    transform-origin: left bottom;
}

.efota-title-text>h1 {
    color: lightgrey !important;
    filter: url("./assets/ui/title-filter.svg#indd-effects");
    font-size: 6rem !important;
    text-transform: uppercase;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #1d1d1d 4px 2px 2px;
    letter-spacing: 0.035em;
    font-variant: condensed;
    width: max-content;
    line-height: 1;
    padding: 0 !important;
    margin: 0 !important;

}


.efota-title-text>h1::after {
    content: none !important;

}

.efota-title-text>p {
    font-size: 2.25rem;
    line-height: 1;
    letter-spacing: 0.03em;
    margin: 0 !important;
    text-wrap: balance;
    padding-bottom: 4px;
}

.efota-title p:first-of-type {
    color: white !important;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: unset !important;

}

.efota-title p:first-of-type>span:first-of-type {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 43.75%;
    left: 8.5%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.efota-title p:first-of-type>span+span {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 32%;
    left: 8.75%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}