@use "../../../Styles/mixins.scss";
@import '../../../Styles/vars.scss';

$slug-primarycolor: #d68e4c;
$slug-secondarycolor: #d68e4c;

:root {
    --theme-page-bg-image-base: url(https://www.dndbeyond.com/attachments/0/84/background_texture.png);
    --theme-page-bg-image-1024: url();
    --theme-page-bg-image-1921: url();
    --theme-page-bg-image-2561: url();
    --theme-table-row-bg-hover: #{lighten($slug-primarycolor, 20%)};
    --theme-table-row-bg-dark: #{lighten($slug-primarycolor, 30%)};
    --theme-table-row-bg-light: #{lighten($slug-primarycolor, 40%)};
    --compendium-rules-sidebar-color: #{lighten($slug-secondarycolor, 5%)};
    --compendium-quote-box-color: #{lighten($slug-primarycolor, 53%)};
    --compendium-quote-box-border: #{darken($slug-secondarycolor, 50%)};
    --compendium-quote-box-corner: #{darken($slug-secondarycolor, 50%)};
    --header-underline: #{lighten(black, 50%)};
    --sidebar-active-border: #{$slug-primarycolor};
    --sidebar-hover-border: #{darken($slug-primarycolor, 10%)};
    --sidebar-active-bg: #{$slug-secondarycolor};
    --sidebar-hover-bg: #{darken($slug-secondarycolor, 8%)};
    --nav-active-text: #3c3c3c;
    --nav-hover-text: #1d1d1d;
    @include mixins.nav-red;
    --nav-to-top-bg: #{$slug-primarycolor};
    --nav-to-top-hover-bg: #{darken($slug-primarycolor, 10%)};
    --theme-image-caption-link-bg-color: #{$slug-primarycolor};
    --theme-image-caption-link-hover-color: #{darken($slug-primarycolor, 10%)};
    --compendium-button-bg: #{$slug-primarycolor};
    --compendium-button-hover-bg: #{darken($slug-primarycolor, 10%)};
    --compendium-link-contrast: #024687;
    @include mixins.new-tooltips;
    --theme-page-h2-color: #{$slug-primarycolor};
    --theme-page-h3-color: #{$slug-primarycolor};
    --theme-page-h4-color: #{$slug-primarycolor};
    --theme-page-h5-color: #{$slug-primarycolor};
}

@include mixins.hover-tooltips;

#{$for-contrast} {
    --compendium-default-tooltip: #056736;
    --compendium-rule-tooltip: #836000;
    --compendium-spell-tooltip: #5a35c5;
    --compendium-magicitem-tooltip: #054ea9;
    --compendium-monster-tooltip: #A70000;
    --compendium-condition-tooltip: #466501;
}

strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong),
li::marker {
    color: #242527;
}

.monster--stat-block {
    --stat-block-divider: #{$slug-primarycolor};
    --stat-block-bg-override: #{lighten($slug-secondarycolor, 7%)};
    //--stat-block-header-size: 18px;
    font-family: "Open Sans";

    .monster--stats p:nth-child(odd) {
        color: #{$slug-primarycolor};
    }

    .monster--action-header {
        font-family: "Open Sans";
        color: #{$slug-primarycolor};
    }

    &::before,
    &::after {
        //--stat-block-scrollbar: url("#{$media-stg}/slug/ui/file-name.png");
        --stat-block-scrollbar: none;
        background-color: #{$slug-primarycolor};
        left: -4px;
        right: -4px;
        border-radius: 8px;
        height: 8px;
    }
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressed.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedBold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedHeavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Condensed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCondensedHeavy.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCMedium.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCSemiBold.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCRegular.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h2.compendium-hr,
.h2-override,
.body-page .p-article-a .p-article-content caption h2.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 2.5rem !important;
    line-height: 1 !important;
}

h3.compendium-hr,
.h3-override,
.body-page .p-article-a .p-article-content caption h3.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 1.5rem !important;
    line-height: 1 !important;
}

h4.compendium-hr,
.h4-override,
.body-page .p-article-a .p-article-content caption h4.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 1.25rem !important;
    line-height: 1 !important;
}

h5.compendium-hr,
.h5-override,
.body-page .p-article-a .p-article-content caption h5.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 1.25rem !important;
    line-height: 1 !important;
}

.body-page .p-article-a .p-article-content h2::after,
.body-page .p-article-a .p-article-content h3::after,
.section-posts .p-article-a .p-article-content h2::after,
.section-posts .p-article-a .p-article-content h3::after,
.p-article-a .section-changelog .p-article-content h2::after,
.p-article-a .section-changelog .p-article-content h3::after {
    height: 2px;
    margin-top: 3px;
}

h2::after {
    margin-bottom: 12px !important;
}

h3::after {
    margin-bottom: 0 !important;
}

.efota-title {
    position: relative;
    width: 100%;
    aspect-ratio: 300 / 102;
    z-index: 2;
    color: white !important;
}

.efota-title::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/0_DnD_EFA_Chapter_Header_CH1.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: -1;
}

.efota-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/bg-polygon.svg");
    background-repeat: no-repeat;
    background-size: 106% auto;
    background-position: 100% 230%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: 0;
}

.efota-title .efota-title-icon::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/DnD_ClassSymbol-Artificer.svg"), url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/bg-polygon.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 15% 15%, 106% auto;
    background-position: 98% 67%, 100% 230%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: 0;

}

.efota-title-text {
    position: absolute;
    bottom: 34%;
    left: 21.5%;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    width: 72%;
    white-space: nowrap;

    align-items: flex-end;
    z-index: 5;
    transform: rotate(-5deg);
    transform-origin: left bottom;
}

.efota-title-text h1 {
    color: lightgrey !important;
    filter: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/title-filter.svg#indd-effects");
    font-size: 6rem !important;
    text-transform: uppercase;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #1d1d1d 4px 2px 2px;
    letter-spacing: 0.035em;
    font-variant: condensed;
    width: max-content;
    line-height: 1;
    padding: 0 !important;
    margin: 0 !important;

}


.efota-title-text h1::after {
    content: none !important;

}

.efota-title-text p:first-of-type {
    display: none;
}

.efota-title-text p:nth-of-type(2) {
    font-size: 2.25rem;
    line-height: 1;
    letter-spacing: 0.03em;
    margin: 0 !important;
    text-wrap: balance;
    padding-bottom: 4px;
}

.efota-title p:nth-of-type(2) {
    color: white !important;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: unset !important;

}

.efota-title p:first-of-type span:first-of-type {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 43.75%;
    left: 8.5%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.efota-title p:first-of-type span+span {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 32%;
    left: 8.75%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 600px) {
    .efota-title {
        aspect-ratio: auto;
        color: black !important;
    }

    .efota-title::before,
    .efota-title::after {
        content: none;
    }

    .efota-title p:nth-of-type(2) {
        color: black !important;
    }

    .efota-title-text {
        display: flex;
        position: static;
        transform: none;
        transform-origin: unset;
        width: 100%;
        white-space: normal;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .efota-title-text p:first-of-type {
        display: flex;
        gap: 4px;
        font-size: 24px;
        letter-spacing: 0.05em;
        margin-bottom: -20px !important;
    }

    .efota-title p:first-of-type span:first-of-type,
    .efota-title p:first-of-type span+span {
        position: static;
        transform: none;
        font-size: 1.4rem;

    }

    .efota-title p:first-of-type:not(.efota-title-text p) {
        display: none;
    }
}

aside.newspaper-box {
    --rule-color: currentColor;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: start;
      inline-size: max-content;
  max-inline-size: min(700px, 100%);
  min-inline-size: 250px;
    margin: 40px auto;
    background: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/Newspaper-Backing.png") no-repeat center / 100% 100%;
    padding: 60px;
}

aside.newspaper-box p:first-of-type {
    font-family: "Hyperspace Race Condensed", sans-serif;
    width: max-content !important;
    max-width: 50%;
    text-align: center;
    gap: 0;
    margin: 0 auto 8px !important;
}

aside.newspaper-box p:first-of-type span:first-child {
    text-transform: uppercase;
    /* all caps */
    display: inline-flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 0.08em;
    font-weight: 700;
    margin-bottom: 8px !important;
    margin: 0 !important;
    line-height: 0.95;
    font-size: 16px;
    width: 100%;
}

aside.newspaper-box p:first-of-type span:first-child::before,
aside.newspaper-box p:first-of-type span:first-child::after {
    content: "";
    height: 1px;
    width: 100%;
    /* tweak length as needed */
    background: var(--rule-color);
    display: block;
    opacity: 0.8;
}

aside.newspaper-box p:first-of-type span:last-child {
    letter-spacing: 0.08em;
    font-size: 30px !important;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 !important;
    line-height: 0.95;
    max-inline-size: min(700px, 100%);
}

aside.newspaper-box p:nth-of-type(2) {
    grid-row: 2;
    text-transform: uppercase;
    font-family: "Hyperspace Race Compressed", sans-serif;
    font-weight: 900;
    font-size: clamp(1rem, 10vw, 4rem);
    line-height: 0.95;
    white-space: nowrap;
    text-align: center;
    margin: 0.25rem 0;
    position: relative;
    letter-spacing: 0.06em;
    border-top: 2px double var(--rule-color);
    border-bottom: 2px double var(--rule-color);
    width: max-content !important;
    overflow: visible;
    text-overflow: clip;
    justify-self: center;
}

aside.newspaper-box p:nth-of-type(2)::before,
aside.newspaper-box p:nth-of-type(2)::after {
    content: "";
    display: block;
    border-top: 1px double var(--rule-color);
    margin: 1px auto;
    width: 100%;
    opacity: 0.8;
}

aside.newspaper-box p:nth-of-type(2)::before {
    margin-top: -8px;
}

aside.newspaper-box p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    margin: 0.25rem 0 0.75rem;
    text-align: justify;
    line-height: 1.2 !important;
}

aside.newspaper-box p:last-of-type {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0.5rem 0 0;
    line-height: 1.6 !important;
    hyphens: auto;
    text-align: justify;
  width: 100% !important;
}

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
    aside.newspaper-box p:last-of-type::first-letter {
        initial-letter: 3;
        -webkit-initial-letter: 3;
        font-weight: 700;
        margin-right: 0.25rem;
    }
}

/* Fallback for browsers without initial-letter */
@supports (not (initial-letter: 3)) and (not (-webkit-initial-letter: 3)) {
    aside.newspaper-box p:last-of-type::first-letter {
        float: left;
        font-size: 3.2em;
        line-height: 0.9;
        padding-right: 0.25rem;
        font-weight: 700;
    }
}