@use "../../../Styles/mixins.scss";
@import '../../../Styles/vars.scss';

$efota-primarycolor: #d68e4c;
$efota-secondarycolor: #d9dadb;

:root {
    --theme-page-bg-image-base: url(https://www.dndbeyond.com/attachments/0/84/background_texture.png);
    --theme-page-bg-image-1024: url();
    --theme-page-bg-image-1921: url();
    --theme-page-bg-image-2561: url();
    --theme-table-row-bg-hover: #{lighten($efota-primarycolor, 20%)};
    --theme-table-row-bg-dark: #{lighten($efota-primarycolor, 30%)};
    --theme-table-row-bg-light: #{lighten($efota-primarycolor, 40%)};
    --compendium-rules-sidebar-color: #{lighten($efota-secondarycolor, 5%)};
    --compendium-quote-box-color: #{lighten($efota-primarycolor, 53%)};
    --compendium-quote-box-border: #{darken($efota-secondarycolor, 50%)};
    --compendium-quote-box-corner: #{darken($efota-secondarycolor, 50%)};
    --header-underline: #{lighten(black, 50%)};
    --sidebar-active-border: #{$efota-primarycolor};
    --sidebar-hover-border: #{darken($efota-primarycolor, 10%)};
    --sidebar-active-bg: #{$efota-secondarycolor};
    --sidebar-hover-bg: #{darken($efota-secondarycolor, 8%)};
    --nav-active-text: #3c3c3c;
    --nav-hover-text: #1d1d1d;
    @include mixins.nav-orange;
    --nav-to-top-bg: #{$efota-primarycolor};
    --nav-to-top-hover-bg: #{darken($efota-primarycolor, 10%)};
    --theme-image-caption-link-bg-color: #{$efota-primarycolor};
    --theme-image-caption-link-hover-color: #{darken($efota-primarycolor, 10%)};
    --compendium-button-bg: #{$efota-primarycolor};
    --compendium-button-hover-bg: #{darken($efota-primarycolor, 10%)};
    --compendium-link-contrast: #024687;
    @include mixins.new-tooltips;
    --theme-page-h2-color: #{$efota-primarycolor};
    --theme-page-h3-color: #{$efota-primarycolor};
    --theme-page-h4-color: #{$efota-primarycolor};
    --theme-page-h5-color: #{$efota-primarycolor};
}

@include mixins.hover-tooltips;

#{$for-contrast} {
    --compendium-default-tooltip: #056736;
    --compendium-rule-tooltip: #836000;
    --compendium-spell-tooltip: #5a35c5;
    --compendium-magicitem-tooltip: #054ea9;
    --compendium-monster-tooltip: #A70000;
    --compendium-condition-tooltip: #466501;
}

strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong, table strong, .newspaper-box strong, .efota--genre-box strong),
li::marker {
    color: #{$efota-primarycolor};
}

.monster--stat-block {
    --stat-block-divider: #{$efota-primarycolor};
    --stat-block-bg-override: #{lighten($efota-secondarycolor, 12%)};
    //--stat-block-header-size: 18px;
    font-family: "Open Sans";

    .monster--stats p:nth-child(odd) {
        color: #{$efota-primarycolor};
    }

    .monster--action-header {
        font-family: "Open Sans";
        color: #{$efota-primarycolor};
    }

    &::before,
    &::after {
        //--stat-block-scrollbar: url("#{$media-stg}/slug/ui/file-name.png");
        --stat-block-scrollbar: none;
        background-color: #{$efota-primarycolor};
        left: -4px;
        right: -4px;
        border-radius: 8px;
        height: 8px;
    }
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressed.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedBold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Compressed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCompressedHeavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace Race Condensed';
    src: url('https://fonts.dndbeyond.com/HyperspaceRaceCondensedHeavy.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCMedium.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCSemiBold.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Probeta SC';
    src: url('https://fonts.dndbeyond.com/ProbetaSCRegular.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h2.compendium-hr,
.h2-override,
.body-page .p-article-a .p-article-content caption h2.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 2.5rem !important;
    line-height: 1 !important;
}

h3.compendium-hr,
.h3-override,
.body-page .p-article-a .p-article-content caption h3.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 2rem !important;
    line-height: 1 !important;
}

h4.compendium-hr,
.h4-override,
.body-page .p-article-a .p-article-content caption h4.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 1.6rem !important;
    line-height: 1 !important;
}

h5.compendium-hr,
.h5-override,
.body-page .p-article-a .p-article-content caption h5.compendium-hr {
    font-family: "Probeta SC", sans-serif !important;
    font-weight: 700 !important;
    font-variant: small-caps;
    font-size: 1.25rem !important;
    line-height: 1 !important;
}

.body-page .p-article-a .p-article-content h2::after,
.body-page .p-article-a .p-article-content h3::after,
.section-posts .p-article-a .p-article-content h2::after,
.section-posts .p-article-a .p-article-content h3::after,
.p-article-a .section-changelog .p-article-content h2::after,
.p-article-a .section-changelog .p-article-content h3::after {
    height: 2px;
    margin-top: 3px;
}

h2::after {
    margin-bottom: 12px !important;
}

h3::after {
    margin-bottom: 0 !important;
}

.efota-title {
    position: relative;
    width: 100%;
    aspect-ratio: 300 / 102;
    z-index: 2;
    color: white !important;
}

.efota-title::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/0_DnD_EFA_Chapter_Header_CH1.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: -1;
}

.efota-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/bg-base-polygon.svg");
    background-repeat: no-repeat;
    background-size: 106% auto;
    background-position: 100% 230%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: 0;
}

.efota-title.efota-title-icon::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/DnD_ClassSymbol-Artificer.svg"), url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/bg-polygon.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 15% 15%, 106% auto;
    background-position: 98% 67%, 100% 230%;
    margin: 0 !important;
    background-color: transparent !important;
    height: auto !important;
    z-index: 0;
}

.efota-title-text {
    position: absolute;
    bottom: 34%;
    left: 21.5%;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    width: 72%;
    white-space: nowrap;

    align-items: flex-end;
    z-index: 5;
    transform: rotate(-5deg);
    transform-origin: left bottom;
}

.efota-title-text h1 {
    color: lightgrey !important;
    filter: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/title-filter.svg#indd-effects");
    font-size: 6rem !important;
    text-transform: uppercase;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 700 !important;
    -webkit-text-stroke: 1.2px white;
    text-shadow: 3px 2px 1px lightgrey, 5px 5px 3px #000, 0 0px 5px #fff, 0 0 10px #f5f5f5;
    //text-shadow: #1d1d1d 4px 2px 2px;
    letter-spacing: 0.035em;
    font-variant: condensed;
    width: max-content;
    line-height: 1;
    padding: 0 0 0 5px !important;
    margin: 0 !important;
    transform: skew(-5deg);

}


.efota-title-text h1::after {
    content: none !important;

}

.efota-title-text p:first-of-type {
    display: none;
}

.efota-title-text p:nth-of-type(2) {
    font-size: 2.25rem;
    line-height: 1;
    letter-spacing: 0.03em;
    margin: 0 !important;
    text-wrap: balance;
    padding-bottom: 4px;
    transform: skew(-5deg);
    text-shadow: 2px 2px 1px lightslategray, 3px 4px 2px #000;
}

.efota-title p:nth-of-type(2) {
    color: white !important;
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: unset !important;

}

.efota-title p:first-of-type span:first-of-type {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 43.75%;
    left: 8.5%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    &.efota-intro-title {
        left: 19.5% !important;
        bottom: 77.75% !important;
        transform: rotate(-5deg) skew(-5deg) !important;
    }
}

.efota-title p:first-of-type span+span {
    font-family: 'Hyperspace Race Compressed', sans-serif !important;
    font-weight: 400;
    position: absolute;
    bottom: 32%;
    left: 8.75%;
    transform: rotate(16deg) skew(16deg);
    z-index: 2;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 600px) {
    .efota-title {
        aspect-ratio: auto;
        color: black !important;
    }

    .efota-title::before,
    .efota-title::after {
        content: none;
    }

    .efota-title p:nth-of-type(2) {
        color: black !important;
    }

    .efota-title-text {
        display: flex;
        position: static;
        transform: none;
        transform-origin: unset;
        width: 100%;
        white-space: normal;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .efota-title-text h1 {
        padding: 0 !important;
        color: darkgrey !important;
        transform: none;
        -webkit-text-stroke: unset;
        text-shadow: 3px 3px 2px #000, 0 0px 5px #fff, 0 0 8px #f5f5f5;
    }

    .efota-title-text p:nth-of-type(2) {
        font-size: 2.5rem !important;
        transform: none;
        text-shadow: unset;
    }

    .efota-title-text p:first-of-type {
        display: flex;
        gap: 4px;
        font-size: 2rem;
        letter-spacing: 0.05em;
        margin-bottom: -20px !important;
    }

    .efota-title p:first-of-type span:first-of-type,
    .efota-title p:first-of-type span+span {
        position: static;
        transform: none;
        font-size: 1.9rem;

    }

    .efota-title p:first-of-type:not(.efota-title-text p) {
        display: none;
    }
    .efota-title.efota-title-icon::after {
        content: none;
    }

}

aside.newspaper-box {
    --rule-color: currentColor;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: start;
    inline-size: max-content;
    max-inline-size: min(700px, 100%);
    min-inline-size: 250px;
    margin: 40px auto;
    background: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/Newspaper-Backing.png") no-repeat center / 100% 100%;
    padding: 60px;
}

aside.newspaper-box p:first-of-type {
    font-family: "Hyperspace Race Condensed", sans-serif;
    width: max-content !important;
    max-width: 50%;
    text-align: center;
    gap: 0;
    margin: 0 auto 8px !important;
}

aside.newspaper-box p:first-of-type span:first-child {
    text-transform: uppercase;
    /* all caps */
    display: inline-flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 0.08em;
    font-weight: 700;
    margin-bottom: 8px !important;
    margin: 0 !important;
    line-height: 0.95;
    font-size: 16px;
    width: 100%;
}

aside.newspaper-box p:first-of-type span:first-child::before,
aside.newspaper-box p:first-of-type span:first-child::after {
    content: "";
    height: 1px;
    width: 100%;
    /* tweak length as needed */
    background: var(--rule-color);
    display: block;
    opacity: 0.8;
}

aside.newspaper-box p:first-of-type span:last-child {
    letter-spacing: 0.08em;
    font-size: 30px !important;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 !important;
    line-height: 0.95;
    max-inline-size: min(700px, 100%);
}

aside.newspaper-box p:nth-of-type(2) {
    grid-row: 2;
    text-transform: uppercase;
    font-family: "Hyperspace Race Compressed", sans-serif;
    font-weight: 900;
    font-size: clamp(1rem, 10vw, 4rem);
    line-height: 0.95;
    white-space: nowrap;
    text-align: center;
    margin: 0.25rem 0;
    position: relative;
    letter-spacing: 0.06em;
    border-top: 2px double var(--rule-color);
    border-bottom: 2px double var(--rule-color);
    width: max-content !important;
    overflow: visible;
    text-overflow: clip;
    justify-self: center;
}

aside.newspaper-box p:nth-of-type(2)::before,
aside.newspaper-box p:nth-of-type(2)::after {
    content: "";
    display: block;
    border-top: 1px double var(--rule-color);
    margin: 1px auto;
    width: 100%;
    opacity: 0.8;
}

aside.newspaper-box p:nth-of-type(2)::before {
    margin-top: -8px;
}

aside.newspaper-box p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    margin: 0.25rem 0 0.75rem;
    text-align: justify;
    line-height: 1.2 !important;
}

aside.newspaper-box p:last-of-type {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0em;
    margin: 0.5rem 0 0;
    line-height: 1.6 !important;
    hyphens: auto;
    text-align: justify;
  width: 100% !important;
}

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
    aside.newspaper-box p:last-of-type::first-letter {
        initial-letter: 3;
        -webkit-initial-letter: 3;
        font-weight: 700;
        margin-right: 0.25rem;
    }
}

/* Fallback for browsers without initial-letter */
@supports (not (initial-letter: 3)) and (not (-webkit-initial-letter: 3)) {
    aside.newspaper-box p:last-of-type::first-letter {
        float: left;
        font-size: 3.2em;
        line-height: 0.9;
        padding-right: 0.25rem;
        font-weight: 700;
    }
}

.text--rules-sidebar.efota--rules-sidebar {

    mask-border: url(https://www.dndbeyond.com/attachments/12/547/sidebar-mask-5.png);
    mask-border-slice: 50 fill;
    mask-border-repeat: round;
    background-image: url(https://www.dndbeyond.com/attachments/12/211/rules-text-sidebar-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    max-width: 600px;
    margin: 30px auto;
    padding: 60px 30px;
    position: relative;
    --compendium-default-tooltip: #{lighten(#056736, 50%)};
    --compendium-rule-tooltip: #{lighten(#836000, 50%)};
    --compendium-spell-tooltip: #{lighten(#5a35c5, 50%)};
    --compendium-magicitem-tooltip: #{lighten(#054ea9, 50%)};
    --compendium-monster-tooltip: #{lighten(#A70000, 50%)};
    --compendium-condition-tooltip: #{lighten(#466501, 50%)};
    --compendium-link-contrast: #{lighten(#024687, 55%)};
    filter: drop-shadow(0 3px 5px #ccc);
    p:first-of-type {
        font-family: "Probeta SC", sans-serif !important;
        font-size: 25px;
        + p {
            margin-top: 8px !important;
        }
    }
    &::after {
        all: unset;

    }
    &::before {
        all: unset;

    }
}

.epigraph--with-author.draconic-prophecy {
    border: transparent;
    background-color: transparent;
    background-image: url(https://www.dndbeyond.com/attachments/12/561/draconic-prophecy-v2.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 850px;
    min-height: 400px;
    margin: -40px auto;
    padding: 50px 50px 30px;
    text-align: center;
    font-weight: bold;
    p:last-of-type {
        margin-top: 10px;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        font-style: normal;
    }
}

@media (max-width: 600px) {
        .epigraph--with-author.draconic-prophecy {
        background-image: unset;
        min-height: unset;
        margin: 10px auto !important;
        padding: 5px 50px 5px !important;
    }

}

/* Features Table styling */
table.table--features :is(th, td) {
    &:nth-child(3) {
        padding-left: 10px !important;
        text-align: left !important;
    }

    &:is(:first-child, :nth-child(2), :nth-child(n+4)) {
        padding-left: 10px !important;
        padding-right: 10px !important;
        min-width: 0 !important;
    }
}

tbody th {
    padding-left: 20px;
}

.efota--genre-box {
    background-color: #{lighten($efota-secondarycolor, 5%)};
    position: relative;
    width: auto;
    margin: -140px 50px 20px 50px;
    padding: 100px 30px 10px 30px;
    border: 3px;
    border-style: none solid none solid;
    border-image: linear-gradient(to bottom, #000 0%, #0000 100%) 1;
    background-clip: padding-box;
    line-height: 0.75rem;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        height: 100%;
        width: 7px;
        background-image: linear-gradient(to bottom, #000 0%, #0000 100%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -15px;
        height: 100%;
        width: 7px;
        background-image: linear-gradient(to bottom, #000 0%, #0000 100%);
    }
}

.efota--genre-box.genre-triangle {
    border-color: transparent red transparent transparent;
    border-style: solid;
    border-width: 0px 200px 200px 200px;
    height: 0px;
    width: 0px;
}