:root {

  --wheat-1-dark-blue: #3c5167;
  --wheat-2-light-grey: #4F5663;
  --wheat-2-dark-grey: #545869;
  --wheat-3-light-blue: #bad0da;
  --wheat-4-light-gold: #ecd487;
  --wheat-4-light-gold-secondary: #f3e1a2;
  --wheat-5-gold: #cfa754;
  --wheat-6-dark-green: #708c5e;
  --wheat-7-light-green: #99b153;
  --wheat-8-dark-brown: #81452f;
  --wheat-8-dark-brown-light: #BA998D;
  --wheat-9-light-brown: #977163;  
  --wheat-10-fraif-red: #79241e;
  --wheat-11-lavendar: #8b6faa;
  --wheat-11-lavendar-light: #eee9f2;
  --wheat-set-1: #5C8090;
  --wheat-core-shadow:#938c86;
  --wheat-core-h-red: #4A0E0B;
  --wheat-core-ch-title-outline: #C9D3CA;
  --wheat-core-beige: #C3B272;

  --wheat-ui-secondary: rgba(238, 246, 236, 1);
  --wheat-ui-primary: rgba(214, 237, 207, 1);
  --wheat-ui-hover: rgba(190, 220, 180, 1);
  --wheat-ui-active: rgba(166, 202, 151, 1);


  --wheat-title-gradient: linear-gradient(0, #945c48, var(--wheat-core-h-red));
  --wheat-drop-cap-gradient: linear-gradient(0, var(--wheat-core-ch-title-outline), var(--wheat-9-light-brown) 35%, var(--wheat-9-light-brown));

  --dalelands-primary: var(--wheat-6-dark-green);
  --dalelands-secondary: var(--wheat-7-light-green);
  --dalelands-gradient: linear-gradient(0, var(--dalelands-secondary), var(--dalelands-primary));
  --icewind-primary: var(--wheat-1-dark-blue);
  --icewind-secondary: var(--wheat-3-light-blue);
  --icewind-gradient: linear-gradient(0, var(--icewind-secondary), var(--icewind-primary));
  --calimshan-primary: var(--wheat-5-gold);
  --calimshan-secondary: var(--wheat-4-light-gold);
  --calimshan-gradient: linear-gradient(0, var(--calimshan-secondary), var(--calimshan-primary));
  --moonshae-primary: #7b66b5;
  --moonshae-secondary: #cbb8eb;
  --moonshae-gradient: linear-gradient(0, var(--moonshae-secondary), var(--moonshae-primary));
  --baldurs-primary: var(--wheat-8-dark-brown);
  --baldurs-secondary: var(--wheat-8-dark-brown-light);
  --baldurs-gradient: linear-gradient(0, var(--baldurs-secondary), var(--baldurs-primary));

    --theme-page-bg-image-base: url("https://www.dndbeyond.com/attachments/0/84/background_texture.png");
    --theme-page-bg-image-1024: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Neutral_Compendium 1k.png ");
    --theme-page-bg-image-1921: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Neutral_Compendium 2k.png");
    --theme-page-bg-image-2561: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/AIF_BG_Neutral_Compendium 4k.png");
    
    --theme-table-row-bg-hover: var(--wheat-ui-hover);
    --theme-table-row-bg-dark: var(--wheat-ui-primary);
    --theme-table-row-bg-light: var(--wheat-ui-secondary);
    --compendium-rules-sidebar-color: var(--wheat-ui-primary);
    --compendium-quote-box-color: var(--wheat-11-lavendar-light) !important;
    --compendium-quote-box-border: var(--wheat-11-lavendar) !important;
    --compendium-quote-box-corner: var(--wheat-11-lavendar) !important;
    --header-underline: var(--wheat-core-beige);
    --sidebar-active-border: var(--wheat-core-h-red);
    --sidebar-hover-border: var(--wheat-core-h-red);
    --sidebar-active-bg: var(--wheat-ui-active);
  --sidebar-hover-bg: var(--wheat-ui-hover);
    --nav-active-text: #3c3c3c;
    --nav-hover-text: #1d1d1d;

    --nav-to-top-bg: var(--wheat-core-h-red);
    --nav-to-top-hover-bg: #{darken(#4A0E0B, 10%)};
    --theme-image-caption-link-bg-color: #4A0E0B;
    --theme-image-caption-link-hover-color: #{darken(#4A0E0B, 10%)};
    --compendium-button-bg: #4A0E0B;
    --compendium-button-hover-bg: #{darken(#4A0E0B, 10%)};
    --compendium-link-contrast: #024687;

    --gazetteer-quote-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-mag-quote-attribution-brown.png");
  --gazetteer-quote-color: #545869;
  --fraif-deity-banner-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-level-banner-brown.png");
 
}
strong:not(ul strong, .flexible-double-column.hangingIndent strong, .epigraph strong),
li::marker {
    color: #4A0E0B; 
}

.monster--stat-block {
    --stat-block-divider: #4A0E0B;
    --stat-block-bg-override: var(--wheat-ui-primary);

    font-family: "Open Sans";
    .monster--stats p:nth-child(odd) {
        color: #4A0E0B;
    }
    .monster--action-header {
        font-family: "Open Sans";
        color: #4A0E0B;
    }
    &::before, &::after {
  
        --stat-block-scrollbar: none;
        background-color: #4A0E0B;
        left: -4px;
        right: -4px;
        border-radius: 8px;
        height: 8px;
    }

} 

/*.text--rules-sidebar {
    border-color: #204d4c;
    border-width: 5px;
    max-width: 600px;
    margin: 30px auto;
    padding: 18px 20px;
    filter: drop-shadow(0 3px 5px #ccc);
    p:first-of-type {
        color: #204d4c;
        font-size: 20px;
        + p {
            margin-top: 8px !important;
        }
    }
    &::after {
        all: unset;
    }
    &::before {
        content: "";
        background-image: url("https://media-stg.dndbeyond.com/compendium-images/fm/ui/sidebar-border.svg");
        background-position: 0, 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 15px;
        top: -6px;
        left: -7px;
        right: -7px;
    }
}*/

/*.text--quote-box{
    //add custom quote box style here
}*/

//Add additional custom styles here

/* TTJenevers */
@font-face {
  font-family: "TT Jenevers";
  src: url("https://fonts.dndbeyond.com/TTJeneversRegular-5632637.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Jenevers";
  src: url("https://fonts.dndbeyond.com/TTJeneversItalic-5632639.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Jenevers";
  src: url("https://fonts.dndbeyond.com/TTJeneversMedium-5632641.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Jenevers";
  src: url("https://fonts.dndbeyond.com/TTJeneversBold-5632645.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Jenevers";
  src: url("https://fonts.dndbeyond.com/TTJeneversBoldItalic-5632647.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Wolpe Pegasus";
  src: url("https://fonts.dndbeyond.com/WolpePegasusRegular-5521351.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Wolpe Pegasus";
  src: url("https://fonts.dndbeyond.com/WolpePegasusBold-5521342.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dai Vernon Misdirect";
  src: url("https://fonts.dndbeyond.com/DaiVernonMisdirect-fc7096cb-80db-4a29-a122-f49877400f5b.otf_v.otf");
  font-weight: 400;
  font-style: normal;
}


/* Scala Sans Offc */
@font-face {
  font-family: "Scala Sans Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansOffc-f34f269d-8464-48b4-b0e6-c0c2937ddb84.ttf_v.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Scala Sans Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansOffcItalic-528aad9e-fdbf-4cca-8c7e-094ca41d88dc.ttf_v.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Scala Sans Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansOffcBold-077eb635-4f4b-49cd-b62e-545088246eee.ttf_v.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Scala Sans Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansOffcBoldItalic-4ffee848-75be-4b5f-9c02-7d644be2e718.ttf_v.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Scala Sans SC Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansSCOffcBold-25813ff8-4562-40b4-a92a-32fce25e8eb5.TTF_v.TTF");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Scala Sans SC Offc";
  src: url("https://fonts.dndbeyond.com/ScalaSansSCOffc-f6a98972-664f-45f8-a117-04a500ae5f10.TTF_v.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Harbour";
  src: url("https://fonts.dndbeyond.com/HarbourMedium-6668989.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  // font-display: swap;
}

h1 {
  --fraif-h1-text-color: var(--wheat-title-gradient);
  font-family: "Wolpe Pegasus", serif !important;
     font-variant: small-caps;
  font-size: 3rem !important;
  font-weight: 400 !important;
  line-height: normal;
background-color: transparent !important;
    background: var(--fraif-h1-text-color);
  letter-spacing: 0.06em;
  -webkit-background-clip: text; /* needed for Safari/Chrome */
  background-clip: text;
  color: transparent !important;              
  -webkit-text-fill-color: transparent !important;
 -webkit-text-stroke: 0.65px #C9D3CA; 
  text-align: center;
   --h1-underline: transparent; 
  --uf-max-height: 193; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/
  --uf-max-width: 4310; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/

}

h2 {
  font-family: "Wolpe Pegasus", serif !important;
  font-weight: 400;
  font-style: bold;
  color: #4A0E0B !important;
  font-size: 2rem !important;
  line-height: 2.1rem;
  text-align: left;
   font-variant: small-caps;
    --header-underline: #C3B272; 
}

h3 {
   font-family: "Wolpe Pegasus", serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem !important;
  color: #4A0E0B !important;
  line-height: 1.45rem;
  text-align: left;
  font-variant: small-caps;
  --header-underline: #C3B272; 
}

h4 {
   font-family: "Wolpe Pegasus", serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
  line-height: 0.8rem;
  color: #4A0E0B !important;
  text-align: left;
}

.frhof-aside-location-box__header {
  margin: 0 !important;
  background-color: #724E4B;
  font-variant: small-caps;
  color: white !important;
    --location-box-border-radius: 0.1rem;
  border-top-left-radius: var(--location-box-border-radius);
  border-top-right-radius: var(--location-box-border-radius);
  padding: 1.25rem 0.5rem 0.75rem 0.5rem !important;
  position: relative;
    font-size: 3rem !important;
    font-weight: 500 !important;
}

.frhof-aside-location-box__header span {
  position: relative;
  z-index: 1;
}

.frhof-aside-location-box__header::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 12px 8px 16px 0 #292929;
  opacity: 0.4;

  mix-blend-mode: multiply;
    border-top-left-radius: var(--location-box-border-radius);
  border-top-right-radius: var(--location-box-border-radius);
  z-index: 0;

}

.frhof-aside-location-box__header::after  {
 display: none !important;
 margin: 0 !important;
}

.frhof-aside-location-box {
  background-color: #E6ECD4;
  position: relative;
  mix-blend-mode: multiply;
  padding: .5rem 1rem 0.15rem 1rem;
  border-bottom-left-radius: var(--location-box-border-radius);
  border-bottom-right-radius: var(--location-box-border-radius);
  opacity: 1;
  margin-bottom: calc((100% / 27.62) + 12px) !important;

  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-location-header-block-footer-filigree.png");
  
  --uf-max-height: 193; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/
  --uf-max-width: 4310; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/
  
  --uf-height: 2.25rem; 
}


.frhof-aside-location-box::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 8px 4px 48px 8px #99b153;
  opacity: 0.25;
  mix-blend-mode: multiply;
    border-bottom-left-radius: var(--location-box-border-radius);
  border-bottom-right-radius: var(--location-box-border-radius);
  z-index: 0;
}   

// .frhof-aside-location-box::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: calc(100% + 12px);                
//   inline-size: 100%;          
//   aspect-ratio: 27.62 / 1;    

//   background: url("https://media-stg.dndbeyond.com/compendium-images/frhof/ui/frhof-location-header-block-footer-filigree.png")
//               center / 100% 100% no-repeat;
//  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
//   -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
//   pointer-events: none;
// }

.frhof-aside-location-box p {
    z-index: 1;
    position: relative;
}


.frhof-aside-location-box p:first-child {
  font-size: 1.4rem;
    font-variant: small-caps;
}

.frhof-aside-location-box p:last-child {
  margin-bottom: 0 !important;
}

.underline-filigree {
  /* Defaults (override globally, per-theme, or per-element) */
  --uf-image-default: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree.png');
  --uf-image: var(--uf-image-default);

  --uf-max-height: 193; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/
  --uf-max-width: 4310; /*UNITLESS height of the actual background image file, NOT the resulting height, in px*/
  
  --uf-height: 2.25rem;   /* visual height of the ornament (scales with font-size) */
  --uf-aspect-ratio: calc(var(--uf-max-width) / var(--uf-max-height)) ;           /* aspect ratio (width / height). e.g., 4 ⇒ 4:1 */
  --uf-gap: 0.35em;     /* space between text baseline and ornament */
}

/* The ornament lives in ::after so it won’t interfere with element styling */
.underline-filigree::after {
  content: "";
  display: block;
  height: var(--uf-height) !important;
  aspect-ratio: var(--uf-aspect-ratio);
  background-color: transparent !important;
  margin: var(--uf-gap) auto 0;
  max-width: 100%;
  min-width: 300px;
  background-image: var(--uf-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.inline-filigree {
  --fg-left-default: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l.png');
  --fg-right-default: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r.png');

  --fg-left: var(--fg-left-default);
  --fg-right: var(--fg-right-default);

  --fg-height: 2em;
  --fg-gap: 0.5rem;
  --fg-left-aspect-ratio: 3.38;
  --fg-right-aspect-ratio: 3.38;
  --fg-y: 0;

  position: relative;
  display: inline-flex;
  align-items: flex-end;
  gap: var(--fg-gap);
}

.inline-filigree::before,
.inline-filigree::after {
  content: "";
  display: inline-block;
  height: var(--fg-height);
  translate: 0 var(--fg-y);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.inline-filigree::before {
  background-image: var(--fg-left);
  width: calc(var(--fg-height) * var(--fg-left-aspect-ratio));
}
.inline-filigree::after {
  background-image: var(--fg-right);
  width: calc(var(--fg-height) * var(--fg-right-aspect-ratio));
}

.fraif-chapter-number-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 36px !important;
  margin-bottom: 4px !important;
}

.fraif-chapter-number {
  font-family: "Wolpe Pegasus", serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: normal;
  color: #484849;
  -webkit-text-stroke: 0.45px #cccec3;
  text-shadow: none;
  text-align: end;
  width: unset !important;
  text-transform: uppercase;

  --fg-left-default: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l.png');
  --fg-right-default: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r.png');

  --fg-height: 2rem;
  --fg-gap: 0.5rem;
  --fg-left-aspect-ratio: 3.38;
  --fg-right-aspect-ratio: 3.38;
  --fg-y: 0;
  position: relative;
  margin: 0 auto !important;
}

.gazetteer-quote {
  width: 100%;
  padding: 1rem 2rem;
  --attribition-font-size: 0.9rem;
   --attribition-font-size-mobile: 0.7rem;
}

/* base quote text */
.gazetteer-quote p {
  font-family: Harbour !important;
  font-size: 1.5rem !important;
  line-height: 2.2rem;
  color: var(--gazetteer-quote-color, #545869) !important;
  text-align: center;
  text-wrap: balance;
  margin: 0;
}

.gazetteer-quote p + p { margin-top: .5rem; }

.gazetteer-quote p:last-of-type {
  --h: 1.5rem;  
  --x-left: 56;
  --x-right: 28; 
  --x-left-tablet: 54;
  --x-right-tablet: 34;                      
  --y: 20;               
  --y-mobile: 40;         
  --aspect-ratio: 30.1;

  height: var(--h);
  aspect-ratio: var(--aspect-ratio);
  position: relative;

  /* keep real text in DOM but hide visually */
  font-size: 0.9rem !important;
  line-height: 0.9rem;
  color: transparent !important;
  user-select: text;

  @media (min-width: 750px) and (max-width: 1024px) {
    --x-left: var(--x-left-tablet);
    --x-right: var(--x-right-tablet);
  }
}

.gazetteer-quote p:last-of-type {
    position: relative;
}

/* filigree art layer */
.gazetteer-quote p:last-of-type::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gazetteer-quote-image, url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-mag-quote-attribution-brown.png")) center / contain no-repeat;

}

/* positioned citation text layer */
.gazetteer-quote p:last-of-type::after {
  content: "— " attr(data-by);
  text-transform: uppercase;
  position: absolute;
  top:  calc(var(--y) * 1%);
  left: calc(var(--x-left) * 1%);
  right: calc(var(--x-right) * 1%);
  text-align: center;
  font: 500 var(--attribition-font-size)/1 Harbour, serif;
  color: var(--gazetteer-quote-color, #545869) !important;
  white-space: nowrap;

  @media (max-width: 600px) {
    font-size: var(--attribition-font-size-mobile);
     top:  calc(var(--y-mobile) * 1%);
  }
}

.aside--nine-slice {
  --ns-default: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/bestiary-quote-box.png");
  --ns-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/bestiary-quote-box.png");
    /* slice insets from the image’s edges (px) */
    --ns-slice-top: 32;
    --ns-slice-right: 32;
    --ns-slice-bottom: 32;
    --ns-slice-left: 32;

    /* final border widths on the element (px) */
    --ns-b-top: 32;
    --ns-b-right: 32;
    --ns-b-bottom: 32;
    --ns-b-left: 32;

    --ns-edge-repeat: stretch; 
    --ns-center-fill: fill;
    
    min-width: 240px;
    min-height: 90px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    border-style: solid;
    border-width: var(--ns-b-top) var(--ns-b-right) var(--ns-b-bottom) var(--ns-b-left);
    border-image: var(--ns-image)
      var(--ns-slice-top) var(--ns-slice-right) var(--ns-slice-bottom) var(--ns-slice-left);
    -webkit-border-image: var(--ns-image)
      var(--ns-slice-top) var(--ns-slice-right) var(--ns-slice-bottom) var(--ns-slice-left)
      var(--ns-edge-repeat) var(--ns-edge-repeat) var(--ns-edge-repeat) var(--ns-edge-repeat);
    border-image-source: var(--ns-image);
    border-image-slice: var(--ns-slice-top) var(--ns-slice-right) var(--ns-slice-bottom) var(--ns-slice-left) var(--ns-center-fill);
    border-image-width: var(--ns-b-top) var(--ns-b-right) var(--ns-b-bottom) var(--ns-b-left);
    border-image-outset: 0;
    border-image-repeat: var(--ns-edge-repeat);
    background: transparent;
    
}

.aside--bestiary-quote {
    padding: 26px; 

      max-width: 480px;
    max-height: 180px;
       position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.aside--bestiary-quote.aside--nine-slice {
    --ns-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/bestiary-quote-box.png");
    --ns-slice-top: 200;
    --ns-slice-right: 210;
    --ns-slice-bottom: 200;
    --ns-slice-left: 210;

    /* final border widths on the element (px) */
    --ns-b-top: 26;
    --ns-b-right: 32;
    --ns-b-bottom: 26;
    --ns-b-left: 32;
}

.aside--bestiary-quote::after {
content: "";

  position: absolute;
  inset: 4.5px 6px;
  background: radial-gradient(
  ellipse at 50% 50%,
  rgba(238,240,243,0.85) 0%,
   rgba(238,240,243,0.5) 68%,
  rgba(153, 162, 173, 0.3) 85.5%,
   rgba(153, 162, 173, 0.25) 100%,
);
z-index: -2;
  border-radius: 12%;
}

.aside--bestiary-quote p {
  z-index: 2;
  position: relative;
      font-family: "Dai Vernon Misdirect" !important;
      margin: 0;
      line-height: 1.3rem;
      font-size: 1.1rem;
      margin: 0 !important;
      color: #49505B !important;
} 

.aside--bestiary-quote p:last-of-type {
  margin-top: 0.75rem !important;
  text-align: right;
}

.location-banner {
  --location-banner-shape-color: var(--dalelands-primary); 
  --location-banner-secondary-color: var(--dalelands-secondary); 
  --location-filigree-left: var(--location-filigree-left-green);
  --location-filigree-right: var(--location-filigree-right-green);
  --location-banner-text-width: 45%;

  position: relative;
  display: inline-block;

  /* Add some padding for the header text area if needed */
  padding: 8px 2px 8px 8.5%;
  z-index: 0;
  width: 100%;
  height: 42px;
}

h3.location-banner {
    color: white !important; /* text color */
  // line-height: 29.6px; 
  font-size: 36px !important;
  font-family: "Wolpe Pegasus";
  font-weight: 400 !important;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.25px var(--location-banner-secondary-color); 
  text-shadow: 0 2px 6px rgba(0,0,0,.35); 

  background-image: var(--location-filigree-right-green);
  background-repeat: no-repeat;
  background-position: 36% 71%;
  background-size: 20% 40%;
  
}

h3.location-banner::before{
  content:"";
  position:absolute;
  inset:0;
  
  background-color: var(--location-banner-shape-color);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1)  55%, rgba(0,0,0,0.45)  100%);
  mask-image:         linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 55%,  rgba(0,0,0,0.45)  100%);
  /* your SVG polygon */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    97% 60.08%,
    98.2% 100%,
    0% 100%
  );

   color: var(--location-banner-secondary-color) !important;

   background-image: var(--location-filigree-left), var(--location-filigree-right);
  background-repeat: no-repeat;
  background-position: 0 53%, 110% 53%;
  background-size: 17% 35%, 20% 40%;

  /* this feeds the SVG's currentColor */
 
  width: var(--location-banner-text-width, 70%);
  z-index: -1; 
}

.body-page .p-article-a .p-article-content h3.location-banner::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: transparent !important;
      background: linear-gradient(to right, var(--location-banner-secondary-color) 0%, rgb(from var(--location-banner-secondary-color) r g b / 0%) 85%);
    width: 80%;
    height: 100%; 
    z-index: -2;
    margin: 0 !important;
}

.fraif-deity-adventure-banner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
 --fraif-deity-banner-border-thickness: 2px;
 --fraif-deity-banner-header-padding-bottom: 0.5rem;
 margin-bottom: 2.5rem !important;
 border-bottom: solid var(--fraif-deity-banner-border-thickness) var(--wheat-core-beige);
 box-sizing: border-box;
 height: 10rem;

}

.fraif-deity-adventure-banner h2,
.fraif-deity-adventure-banner h3 {
  font-family: "Wolpe Pegasus", serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.030em;
  line-height: 2rem; 
  font-size: 2.5rem !important;
  color: var(--wheat-10-fraif-red, #4A0E0B) !important;    
 -webkit-text-stroke: 0.3px #C9D3CA; 
 position: relative;
 margin: 0 !important;
 padding-bottom: var(--fraif-deity-banner-header-padding-bottom, 0,5rem);
 background-color: transparent !important;
}

.fraif-deity-adventure-banner h2::after,
.fraif-deity-adventure-banner h3::after {
  display: none !important;
  --h3-underline: transparent;
  margin: 0 !important;
}

.fraif-deity-adventure-banner > p:first-of-type {
  --fraif-deity-banner-subheader-size: 1.25rem;
  --fraif-deity-banner-subheader-gap: 1.5rem;
  position: absolute;
  bottom: calc((var(--fraif-deity-banner-subheader-size) + var(--fraif-deity-banner-subheader-gap)) * -1);
  left: 0.25rem;
  color: var(--wheat-core-shadow) !important;
  font-size: var(--fraif-deity-banner-subheader-size);
  font-style: italic;
}

.fraif-deity-adventure-banner .fraif-level-flag {
  position: relative;
  transform: translateY(calc((var(--fraif-deity-banner-border-thickness) + var(--fraif-deity-banner-header-padding-bottom) + 2.5px)));
  width: clamp(200px, 20vw, 400px);
  aspect-ratio: 1460 / 414;
  background-image: var(--fraif-deity-banner-image);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
   min-width: 300px;
   max-width: 350px;
}

.fraif-level-flag p:first-of-type {
  position: absolute;
  top: 5.5%;
  right: 4%;
    background-image: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-deity-adventure-banner.png');
    background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  color: var(--wheat-core-beige) !important;
  padding: 0px 12px;
  width: max-content !important;
  min-width: 220px;
  max-width: 140%; 
  text-align: right;
  margin: 0 !important;
    font-family: "Scala Sans SC Offc";
    font-size: 0.85rem !important;
    line-height: 0.85rem;
    text-transform: uppercase;
font-weight: 700;
  padding: 8px 22px 6px 32px;
  text-align: center;
}

.fraif-level-flag p:nth-of-type(2) {
//  color: var(--wheat-core-beige) !important;
 color: white !important;
  text-shadow: 0 2px 6px rgba(0,0,0,.35); 
  position: absolute;
  
  top: 44%;
  right: 0;
  font-size: 1.6rem;
  font-family: "TT Jenevers" !important;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: -0.01em;
  width: 56% !important;
  margin: 0 !important;

}

.fraif-level-flag p:last-of-type {
  color: white !important;
  position: absolute;
  top: 65%;
  right: 0;
  font-family: "Scala Sans SC Offc";
  font-variant: small-caps;
  font-size: 1rem !important;
  text-align: center;
  width: 56% !important;
  letter-spacing: 0.08em;
  margin: 0 !important;
}

.fraif-dropcap {
  position: relative;
  --dropcap-letter-size: 3.5rem;
   --fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art.png");
}

.fraif-dropcap::first-line {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  max-width: 400px;
  font-style: italic;
}

.fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--wheat-drop-cap-gradient);
  --fraif-dropcap-font: "Wolpe Pegasus", serif; 
  font-style: normal;
  text-shadow: 0 2px 5px rgba(0,0,0,.35);
    background: var(--fraif-dropcap-fill);
  margin-right: 0.25rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;              
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke: 0.75pt var(--wheat-9-light-brown); 
  font-family: var(--fraif-dropcap-font);

  font-size: var(--dropcap-letter-size) !important;
  font-weight: 700 !important;

  // initial-letter: 2 2;
 @supports (initial-letter: 2 2) {
    initial-letter: 2 2;
    margin-right: 0.35rem;
  }
}

.fraif-dropcap::before {
  background-image: var(--fraif-dropcap-art);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
position: absolute;
  content: "";
  // width: 3.5rem;
  height: calc(var(--dropcap-letter-size) * 1.5);
  aspect-ratio: 308 / 425;
  top: 0;
  transform: translateY(-25%);
  left: calc(-1 * (var(--dropcap-letter-size) * 0.6));
  z-index: -1;
}


//gazetteer sidebar
.gazetteer-sidebar {
  // tuck up the sidebar to overlap with the header filigree
  --gazetteer-sidebar-top-margin: -72px;
  --gazetteer-sidebar-gradient-base: var(--gazetteer-sidebar-accent, var(--dalelands-secondary));
  --gazetteer-sidebar-gradient: linear-gradient(360deg, rgb(from var(--gazetteer-sidebar-gradient-base) r g b / 0.225), transparent 95%, transparent 100%);
  
  margin: var(--gazetteer-sidebar-top-margin) auto 0 !important;  
// fix padding to match border image
  padding: 64px 24px 48px 24px !important;

border-color: transparent;
  
  
--fraif-dropcap-fill: var(--gazetteer-sidebar-accent, var(--dalelands-secondary));
  z-index: -1;

  position: relative;

@media (max-width: 1280px) {
  width: 90% !important;
}
}


.gazetteer-sidebar.aside--nine-slice {
  box-sizing: content-box;
    --ns-image:  url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-gazetteer-border-green.png");
    --ns-slice-top: 8;
    --ns-slice-right: 12;
    --ns-slice-bottom: 36;
    --ns-slice-left: 12;

    --ns-b-top: 0;
    --ns-b-right: 4;
    --ns-b-bottom: 12;
    --ns-b-left: 4;

    padding: 24px; 
}

//Chapter Treatments

#Chapter2TheDalelands {
  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree-green.png");
  --fraif-h1-text-color: var(--dalelands-gradient, var(--dalelands-primary));
}

#AboutTheDalelands {
  --gazetteer-sidebar-accent: var(--dalelands-secondary);
}

#AboutTheDalelands .fraif-dropcap {
--fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art-green.png");  
}

#AboutTheDalelands .fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--dalelands-gradient, var(--dalelands-primary));
}
 
#DalelandsChapterNumber {
  --fg-left: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l-green.png');
  --fg-right: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r-green.png');
}

#Chapter3IcewindDale {
  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree-blue.png");
  --fraif-h1-text-color: var(--icewind-gradient, var(--icewind-primary));
}

#AboutIcewindDale {
  --gazetteer-sidebar-accent: var(--icewind-secondary);
}

#AboutIcewindDale .fraif-dropcap {
  --fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art-blue.png");
}

#AboutIcewindDale .fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--icewind-gradient, var(--icewind-primary));
}

#IcewindDaleChapterNumber {
  --fg-left: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l-blue.png');
  --fg-right: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r-blue.png');
}

#Chapter4Calimshan {
  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree-gold.png");
  --fraif-h1-text-color: var(--calimshan-gradient, var(--calimshan-primary));
}

#AboutCalimshan {
  --gazetteer-sidebar-accent: var(--calimshan-secondary);
}

#AboutCalimshan .fraif-dropcap {
  --fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art-gold.png");
}

#AboutCalimshan .fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--calimshan-gradient, var(--calimshan-primary));
}

#CalimshanChapterNumber {
  --fg-left: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l-gold.png');
  --fg-right: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r-gold.png');
}

#Chapter5MoonshaeIsles {
  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree-purple.png");
  --fraif-h1-text-color: var(--moonshae-gradient, var(--moonshae-primary));
}

#AboutMoonshaeIsles {
  --gazetteer-sidebar-accent: var(--moonshae-secondary);
}

#AboutMoonshaeIsles .fraif-dropcap {
  --fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art-purple.png");
}

#AboutMoonshaeIsles .fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--moonshae-gradient, var(--moonshae-primary));
}

#MoonshaeIslesChapterNumber {
  --fg-left: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l-purple.png');
  --fg-right: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r-purple.png');
}

#Chapter6BaldursGate {
  --uf-image: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-footer-filigree-red.png");
  --fraif-h1-text-color: var(--baldurs-gradient, var(--baldurs-primary));
}

#AboutBaldursGate {
  --gazetteer-sidebar-accent: var(--baldurs-secondary);
}

#AboutBaldursGate .fraif-dropcap {
  --fraif-dropcap-art: url("https://media-stg.dndbeyond.com/compendium-images/fraif/ui/fraif-dropcap-art-red.png");
}

#AboutBaldursGate .fraif-dropcap::first-letter {
  --fraif-dropcap-fill: var(--baldurs-gradient, var(--baldurs-primary));
}

#BaldursGateChapterNumber {
  --fg-left: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-l-red.png');
  --fg-right: url('https://media-stg.dndbeyond.com/compendium-images/fraif/ui/frhof-chapter-title-block-header-filigree-r-red.png');
}

figure.compendium-art-center .artist-credit {
  right: 50%;
  transform: translate(50%, 26px);
  bottom: 0;
  top: auto;

}