.comic-bg {
    background-image: url("https://media-stg.dndbeyond.com/compendium-images/efota/ui/Newspaper-Backing.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto 40px;
}